@page "{recipeId}"
@model RecipeRazor.Pages.Recipes.RecipeDetailsModel
@{
}
<style>
     body{
            background-image: linear-gradient(to right top, #490b3d, #671d46, #83304e, #9e4655, #b75e5c, #b75e5c, #b75e5c, #b75e5c, #9e4655, #83304e, #671d46, #490b3d);}
 </style>

<div class="container ">
    <br />
    <div class="row justify-content-center" >
        <div class="col-md">
            <div class="card" class="rounded-2 detail-page">
                <div class="card-body">
                    <div class="list-group">
                        <div class="card-body bg-opacity-10 text-dark list-group-item">
                            <h4 class="card-title recipe-title text-center">@Model.recipe.Title</h4>
                            <div class="text-center">
                                @foreach (var category in Model.recipe.Categories)
                                {
                                    <span style="font-size:12px; margin-top:5px; margin-right: 5px;" class="badge rounded-pill category-show">@category</span>
                                }
                            </div>

                        </div>
                        <div class="card-body text-dark list-group-item">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h5 class="card-title recipe-ing-ins">Ingredients</h5>
                                        <ul class="list-group ">
                                            @foreach (var ingredient in Model.DetailedIngredients)
                                            {
                                                <li class="list-group-item">@ingredient</li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title recipe-ing-ins">Instructions</h5>
                                        <ol class="list-group list-group-numbered">
                                            @foreach (var instruction in Model.DetailedInstructions)
                                            {
                                                <li class="list-group-item">@instruction</li>
                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="c-button-row my-4 mx-5">
                           <div>
                              <a class="c-category-edit-div" asp-page="EditRecipe" asp-route-recipeId="@Model.recipe.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                </svg>
                              </a>
                          </div>
                          <div >
                              <a class="c-category-remove-div" asp-page="DeleteRecipe"  asp-route-recipeId="@Model.recipe.Id"> 
                                   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                         <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                   </svg>
                             </a>
                          </div>
                            <div >
                              <a class="c-category-back-div" asp-page="ListRecipe"  asp-route-recipeId="@Model.recipe.Id"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
                                         <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                                    </svg>
                             </a>
                          </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>